EXPO_PUBLIC_NODE_ENV=
EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_APP_VERSION=1.0
EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY=
EXPO_PUBLIC_PAYSTACK_SECRET_KEY=
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_LOGROCKET_APP_ID=
EXPO_PUBLIC_NOTIFICATIONS_MODE=